@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }
}

.app-container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
  font-weight: bold;
  margin-right: 16px;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-controls {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
