@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }
}

.app-container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 24px;
  margin-bottom: 32px;
  transition: all 0.3s ease;
}

.search-bar-container.pinned {
  width: 80%;
  margin-bottom: 16px;
  align-self: center;
}

.search-bar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.app-title {
  font-weight: bold;
  margin-right: 16px;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-controls {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
